.bg-colour{
    background-color: #e9ecef;
}

.nav-align{
    display: flex;
    justify-content: space-around;
}

.logout-align{
    padding-right: 0 !important;
    padding-left: 2em;
}

.d-none{
    display: none !important;
}