.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.container-height{
    height: 85vh;
    align-items: center;
    display: flex;
}

.text-white{
    color: white;
}
.pageHeading{
    padding: 4em !important;
}